{{ 'banner.css' | asset_url | stylesheet_tag }}
<section>
  <div class="grid-container">
    <div class="large-item" style="background-image: url({{ settings.large_item_image | img_url: 'large' }});"></div>
    <div class="small-item-1" style="background-image: url({{ settings.small_item_1_image | img_url: 'medium' }});"></div>
    <div class="small-item-2" style="background-image: url({{ settings.small_item_2_image | img_url: 'medium' }});"></div>
    <div class="small-item-3" style="background-image: url({{ settings.small_item_3_image | img_url: 'medium' }});"></div>
  </div>
</section>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "image_picker",
      "id": "large_item_image",
      "label": "Large Item Image"
    },
    {
      "type": "image_picker",
      "id": "small_item_1_image",
      "label": "Small Item 1 Image"
    },
    {
      "type": "image_picker",
      "id": "small_item_2_image",
      "label": "Small Item 2 Image"
    },
    {
      "type": "image_picker",
      "id": "small_item_3_image",
      "label": "Large Bottom Item 2 Image"
    }
  ]
}
{% endschema %}
